<div class="container mx-auto px-4">
  <!-- Hero Section -->
  <div class="flex py-28">
    <div class="w-1/2">
      <div class="carousel-container">
        <div class="carousel flex" >
          <button class="carousel-btn prev" (click)="previousImage()">❮</button>

          <img *ngIf="tourImages && tourImages.length > 0"
               [src]="tourImages[currentImageIndex]"
               [alt]="tourName"
               class="carousel-image rounded-2xl w-[600px] h-[400px] mx-5">

          <button class="carousel-btn next" (click)="nextImage()">❯</button>
        </div>
        <div class="carousel-dots text-center w-[640px]">
    <span *ngFor="let image of tourImages; let i = index"
          [class.active]="i === currentImageIndex"
          (click)="currentImageIndex = i">
          ●
    </span>
        </div>


      </div>

    </div>
    <div class="w-1/2">
      <div class="space-y-2">
        <p class="text-4xl font-bold capitalize">{{tourName }}</p>
        <div class="flex items-center gap-4">

          <p class="text-[30px] font-medium text-[#df6951]">$ {{tourPrice}}</p>
          <p class="text-[30px]  -mx-3 text-[#7d7d7d]">/Per Couple</p>
        </div>

        <p class="text-lg text-justify w-[600px]">{{tourDescription2}}</p>
        <div class="grid grid-cols-2 items-center  gap-2">
          <h2 class="text-xl font-bold  text-[#df6951]">Destination</h2>
          <p class="text-base text-black">{{ tourDestination }}</p>
        </div>
        <div class="grid grid-cols-2 items-center  gap-2">
          <h2 class="text-xl font-bold  text-[#df6951]">Departure</h2>
          <p class="text-base text-black">{{ tourDeparture }}</p>
        </div>
        <div class="grid grid-cols-2 items-center  gap-2">
          <h2 class="text-xl font-bold  text-[#df6951]">Departure Time</h2>
          <p class="text-base text-black">{{ tourDepartureTime }}</p>
        </div>
        <div class="grid grid-cols-2 items-center  gap-2">
          <h2 class="text-xl font-bold  text-[#df6951]">Return Time</h2>
          <p class="text-base text-black">{{ tourReturnTime }}</p>
        </div>
        <div>
          <button class="bg-black rounded-xl text-[18px] text-white px-6 py-4" [routerLink]="['/booking', tourId]">Book Now</button>
        </div>
      </div>

    </div>

  </div>







</div>
