<div class="\relative overflow-hidden bg-white">
  <div class="">
    <div class=" w-full ">
      <div class=" w-full h-[600px] bg-[url('/assets/top.jpg')] z-10">

        <div class="pt-40 font-bold text-[#ffefeb] text-base md:text-lg tracking-[1.80px] text-center">
          SEARCH TOUR
        </div>

        <div class=" font-normal text-white text-4xl md:text-6xl lg:text-[157.4px] text-center leading-tight">
          Our Packages
        </div>
      </div>
    </div>
    <nav class="bg-white border border-gray-300 w-full mx-auto p-4">
      <ul class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 sm:justify-center">
        <li><a [routerLink]="['/info', tourId]" class="block text-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Information</a></li>
        <li><a [routerLink]="['/tour-plan', tourId]" class="block text-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Tour Plan</a></li>
        <li><a [routerLink]="['/location', tourId]" class="block text-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Location</a></li>
        <li><a [routerLink]="['/gallery', tourId]" class="block text-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Gallery</a></li>
        <li><a [routerLink]="['/compare', tourId]" class="block text-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Compare</a></li>
      </ul>
    </nav>
  </div>
  <div class="mapouter"><div class="gmap_canvas">
      <div class="mapouter"><div class="gmap_canvas"><iframe width="820" height="560" id="gmap_canvas" [src]=tourmap  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

    </div>
</div>
</div>
