<div class="container mx-auto px-4">


  <div class="flex justify-evenly gap-6 py-8">
    <div class="">
      <div class="space-y-4">
        <div class="flex items-center gap-4">
          <p class="text-center text-2xl font-bold text-[#353a61]">Tour Plan</p>
        </div>
        <div *ngIf="tourId" class="grid grid-cols-3 gap-20">
          <div *ngFor="let day of tourPlans | keyvalue">
            <div class="flex ">
            <h3 class="py-4 capitalize text-orange-500 text-2xl w-1/4">{{day.key}}</h3>
            <h3 class="py-4 font-semibold text-lg w-3/4">{{ day.value }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>




</div>
